version: 2.1
jobs:
  build:
    docker: 
      - image: mcr.microsoft.com/dotnet/core/sdk:3.1 # the primary container, where your job's commands are run
    steps:
      - checkout # check out the code in the project directory
      - run: dotnet run -p build/Build.csproj # run the `echo` command